<h1> 分野名の編集 </h1>

<p><%= link_to "分野一覧へ戻る", genres_path %></p>
<br>
<%= form_for @genre do |f| %>
  <p>
  <%= f.label :新しい分野名 %><br>
  <%= f.text_field :genre_name %>
  </p>

  <p>
  <%= f.submit :分野名の編集 %>
  </p>

<% end %>
