<h1> 著者の追加 </h1>

<p><%= link_to "管理者画面へ戻る", authors_path %></p>
<br>
<%= form_for @author do |f| %>
  <p>
  <%= f.label :新しい著者名 %><br>
  <%= f.text_field :author_name %>
  </p>

  <p>
  <%= f.submit :著者の追加 %>
  </p>

<% end %>
