<h1>図書館へようこそ</h1>

<p><%= link_to "新規図書購入申請", new_users_new_book_path %></p>

<h2>図書一覧</h2>
<%= search_form_for @book_search, url: admins_top_index_path do |f| %>
  <div class="field">
    <%= f.label :title_cont, "タイトル" %>
    <%= f.text_field :title_cont %><br>
    <%= f.label :author_author_name_cont, "著者" %>
    <%= f.text_field :author_author_name_cont %><br>
    <%= f.label :publisher_publisher_name_cont, "出版社" %>
    <%= f.text_field :publisher_publisher_name_cont %><br>
    <%= f.label :genre_genre_name_cont, "分野" %>
    <%= f.text_field :genre_genre_name_cont %><br>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table rules="all">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>分野</th>
        <th>保有冊数</th>
        <th>貸出冊数</th>
        <th>在庫冊数</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, users_book_path(book.id) %> </td>
        <td><%= book.author.author_name %></td>
        <td><%= book.publisher.publisher_name %></td>
        <td><%= book.genre.genre_name %></td>
        <td><%= book.stocks.count %></td>
        <% array = [] %>
        <td>
          <% book.stocks.each do |stock| %>
            <% Reservation.where(stock_id: stock.id).each do |reservation| %>
              <% array = array.push(reservation.reservation_status_id) %>
            <% end %>
          <% end %>
        <%= loaning_number = array.count(2) + array.count(3) %>
        </td>
        <td><%= book.stocks.count - loaning_number %></td>
      </tr>
    </tbody>
  <% end %>
</table>


<h2>本の貸出し状態</h2>
<table rules="all">
    <thead>
      <tr>
        <th>図書番号</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody>
      <% @user_reservations.each do |reservation| %>
        <% if reservation.reservation_status_id == 2 && reservation.updated_at + 15.days < Time.now %>
          <% reservation.reservation_status_id = 3 %>
          <% reservation.save %>
        <% end %>
      <tr>
        <td><%= sprintf("%08d", reservation.stock.id) %></td>
        <td><%= link_to reservation.stock.book.title, users_book_path(reservation.stock.book_id) %></td>
        <td><%= reservation.stock.book.author.author_name %></td>
        <td>
          <% case reservation.reservation_status_id %>
          <% when 1 %>
            予約中
          <% when 2 %>
            貸出し中<br>
            返却期限:<%= (reservation.updated_at + 15.days).to_date %>
          <% when 3 %>
            貸出し期限切れ<br>
            <%= (Date.today - reservation.updated_at.to_date).to_i %>日オーバー
          <% when 4 %>
            返却済み<br>
            返却日:<%= (reservation.updated_at).to_date %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<h2>ブックマークした本一覧</h2>
<table rules="all">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
      </tr>
    </thead>
    <tbody>
      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.book.title, users_book_path(bookmark.book_id) %> </td>
        <td><%= bookmark.book.author.author_name %></td>
        <td><%= bookmark.book.publisher.publisher_name %></td>
      </tr>
    </tbody>
  <% end %>
</table>

