<h1> 出版社の追加 </h1>

<p><%= link_to "管理者画面へ戻る", publishers_path %></p>
<br>
<%= form_for @publisher do |f| %>
  <p>
  <%= f.label :新しい出版社名 %><br>
  <%= f.text_field :publisher_name %>
  </p>

  <p>
  <%= f.submit :出版社の追加 %>
  </p>

<% end %>
