<h1> 詳細情報 </h1>


<p><%= link_to "図書検索画面へ戻る", books_path %></p>
<br>












<% if @user_bookmark %>
  <%= link_to "ブックマークの取り消し", book_bookmark_path(@user_bookmark.book_id, @user_bookmark.id), method: :delete, data: {confirm: "Are you sure?"} %><br>
<% else %>
  <%= form_for [@book, @book.bookmarks.build] do |f| %>
  <%= f.submit :ブックマークに入れる %>
    <br>
  <% end %>
<% end %>













<table rules="all" border="3">
  <tr>
    <td>タイトル</td>
    <td><strong><%= @book.title %></strong></td>
  </tr>

  <tr>
    <td>著者</td>
    <td><%= @book.author.author_name %></td>
  </tr>

  <tr>
    <td>出版社</td>
    <td><%= @book.publisher.publisher_name %></td>
  </tr>

  <tr>
    <td>分野</td>
    <td><%= @book.genre.genre_name %></td>
  </tr>

  <tr>
    <td>図書館保有数</td>
    <td><%= @stocks.count %><br>
      図書番号
    <ul>
      <% @stocks.each do |stock| %>
        <li>
          <%= stock.id %>
          <% if stock.reservations.find_by(reservation_status: 1..3) %>
            <p>貸出し中・予約待ち</p>
          <% else %>
            <p>在庫あり</p>
          <% end %>
          <% if stock.reservations.find_by(user_id: current_user.id, reservation_status_id: 1) %>
            <%= link_to "予約の削除", book_stock_reservation_path(stock.book_id, stock.id, stock.reservations.find_by(user_id: current_user.id, reservation_status_id: 1).id), method: :delete, data: {confirm: "Are you sure?"} %><br>
            <% else if stock.reservations.find_by(user_id: current_user.id, reservation_status_id: 2) %>
              <p>貸出し中</p>
              <% else if stock.reservations.find_by(user_id: current_user.id, reservation_status_id: 3) %>
                <p>貸出し期限切れ・すぐに本を返却してください</p>
                <% else %>
                <%= form_for [stock.book, stock, stock.reservations.build] do |f| %>
                  <% f.hidden_field :reservation_status, :value => 1 %>
                  <%= f.submit :この本を予約する %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
      </li>
      <% end %>
    </ul></td>
  </tr>
</table>









<%= form_for [@book, @book.stocks.build] do |f| %>
  <%= f.submit :本の追加 %>
<% end %>

<h2>この本に対するレビュー一覧</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.updated_at %>
      <%= link_to "編集", edit_book_review_path(review.book_id, review.id) %>
      <%= link_to "削除", book_review_path(review.book_id, review.id), method: :delete, data: {confirm: "Are you sure?"} %><br>
      <%= review.content %>
    </li>
    <% end %>

    <li>
      <%= form_for [@book, @book.reviews.build] do |f| %>
    <p>
    <%= f.text_field :content %>
    </p>
    <p>
    <%= f.submit :レビューの投稿 %>
    </p>
    <% end %>
</ul>

