<h1> 本の情報の編集 </h1>

<p><%= link_to "本検索画面へ戻る", books_path %></p>
<br>
<%= form_for @book do |f| %>

  <p>
  <%= f.label :新しい本のタイトル %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :新しい本の著者 %><br>
  <%= f.text_field :author_id %>
  </p>

  <p>
  <%= f.label :新しい本の出版社 %><br>
  <%= f.text_field :publisher_id %>
  </p>

  <p>
  <%= f.label :新しい本の分野 %><br>
  <%= f.text_field :genre_id %>
  </p>

  <p>
  <%= f.submit :本情報の編集 %>
  </p>
<% end %>
