<h1> 新しい本の追加 </h1>

<p><%= link_to "本検索画面へ戻る", books_path %></p>
<br>
<%= form_for @book do |f| %>
  <p>
  <%= f.label :新しい本のタイトル %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :新しい本の著者 %><br>
  <%= f.collection_select :author_id, Author.all, :id, :author_name %><br>
  選択肢になければこちらから新たな著者の追加を。<br>
  <%= link_to "著者の追加", new_admins_author_path %>
  </p>

  <p>
  <%= f.label :新しい本の出版社 %><br>
  <%= f.collection_select :publisher_id, Publisher.all, :id, :publisher_name %><br>
  選択肢になければこちらから新たな出版社の追加を。<br>
  <%= link_to "出版社の追加", new_admins_publisher_path %>
  </p>

  <p>
  <%= f.label :新しい本の分野 %><br>
  <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %><br>
  選択肢になければこちらから新たな分野の追加を。<br>
  <%= link_to "分野の追加", new_admins_genre_path(params[:id]) %>
  </p>

  <p>
  <%= f.submit :本の追加 %>
  </p>

<% end %>
