<h2> 図書情報の編集 </h2>

<p><%= link_to "図書検索画面へ戻る", admins_top_index_path %></p>
<br>
<%= form_for @book, url: admins_book_path do |f| %>

  <p>
  <%= f.label :図書タイトル %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :図書の著者 %><br>
  <%= f.collection_select :author_id, Author.all, :id, :author_name %><br>
  選択肢になければこちらから新たな著者の追加を。<br>
  <%= link_to "著者の追加", admins_authors_path %>
  </p>

  <p>
  <%= f.label :図書の出版社 %><br>
  <%= f.collection_select :publisher_id, Publisher.all, :id, :publisher_name %><br>
  選択肢になければこちらから新たな出版社の追加を。<br>
  <%= link_to "出版社の追加", admins_publishers_path %>
  </p>

  <p>
  <%= f.label :図書の分野 %><br>
  <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %><br>
  選択肢になければこちらから新たな分野の追加を。<br>
  <%= link_to "分野の追加", admins_genres_path %>
  </p>

  <p>
  <%= f.submit :図書情報の更新 %>
  </p>

<% end %>
